<!DOCTYPE html>
<html>
  <head>
    <title>Malparking</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header> <h1 id = "titulo" >Malparking</h1> </header>
    <main>
        <div id="menuprincipal">

            <div class="btn-group-vertical">
              <a href="/welcome/index.html" class="btn btn-success btn-lg" >Inicio</a>
              <a href="/users" class="btn btn-info btn-lg">Registrar usuario</a>
              <a href="/reports" class="btn btn-danger btn-lg">Registrar denuncia</a>
              <a href="/vehicles" class="btn btn-danger btn-lg">Registrar vehiculo</a>
              <a href="/evidences" class="btn btn-danger btn-lg">Registrar evidencia</a>
            </div>

        </div>
        <div id="contenido">
        <%= yield %>
        </div>
    </main>

  </html>
